$font-style: "Roboto Condensed", sans-serif;

@mixin menu-titles {
    font-size: 48px;
    color: #212529;
    font-weight: 300;
}
@mixin menu-items {
    font-size: 24px;
    color: #212529;
    font-weight: 300;
}
$header-background: #f8f9fa;
$footer-background: #343a40;

// Header
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: $font-style;
}
.header {
    background-color:$header-background;
   .header__container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    padding: 1.2rem;
    .header__navigation { 
        display: flex;  
        gap: 3rem;
        a {
            color: black;
            text-decoration: none; 
            opacity: 0.5;
            &:hover {
                cursor: pointer;
                opacity: 0.9;
            } 
        }
    }
    img {
        height:7rem;
    }
}
}

.coffee {
    width: 78%;
    
    margin: 0 auto;
    
    
    .coffee__title {
        font-size: 40px;
    color: #212529;
    font-weight: 300;
    }

    .coffee__intro {
        font-size: 20px;
        color: #212529;
        font-weight: 300;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .coffee__offer {
        font-size: 16px;
        color: #212529;
        font-weight: 300;
    }

    .coffee__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        
        

        .coffee__card {
            width: 48%;
            padding-top: 2rem;
            

            
            
           
        }

        .coffee__cards__name {
            background-color: #f8f9fa;
            font-size: 36px;
            color: #212529;
            font-weight: 300;
            width: auto;
            padding: 3rem;
        }

        .coffee__cards__img {
          width: 100%;
        }

        .coffee__cards__taste {
            background-color: #f8f9fa;
            font-size: 16px;
            color: #212529;
            font-weight: 300;
            font-style: italic;
            padding: 3rem;
        }

        .coffee__cards__description {
            background-color: #f8f9fa;
            font-size: 16px;
            color: #212529;
            font-weight: 300;
            padding: 3rem;
        }

    }

}

//  FOOTER      
.footer {
    background-color:$footer-background;
    height: 18rem;
    text-align: center;
    font-weight: 300;
    .footer-navigation {
        display: flex;
        justify-content: center;    
        gap: 6rem;
        padding-top: 4rem;
        a {
            color: #0099ff;
            text-decoration: underline;
            &:hover {
                color: #ced4da;
                text-decoration: none;
            }
        }
    }
    .footer-text {
        padding-top: 7rem;
        .footer-text-hipster {
            color: #ced4da;
            margin-bottom: 1rem;
            font-weight: 700;
        }
        p { 
            color: #ced4da;
            a {
                color: #0099ff;
            }
        }
    }
}   

