$font-style: "Roboto Condensed", sans-serif;

@mixin menu-titles {
    font-size: 48px;
    color: #212529;
    font-weight: 300;
}
@mixin menu-items {
    font-size: 24px;
    color: #212529;
    font-weight: 300;
}
$header-background: #f8f9fa;
$footer-background: #343a40;

// Header
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: $font-style;
}
.header {
    background-color:$header-background;
   .header__container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    .header__navigation { 
        display: flex;  
        gap: 3rem;
        a {
            color: black;
            text-decoration: none; 
            opacity: 0.5;
            &:hover {
                cursor: pointer;
                opacity: 0.9;
            } 
        }
    }
    img {
        height:7rem;
    }
}
}
// MAIN CONTENT
.main {
    width: 80%;
    margin: 0 auto;
    h1 {
        @include menu-titles;
        text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 2px;
    }
    h2 {
        text-transform: uppercase;
        font-weight: 200;
        margin-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 2px;
    }       
    img {   
        width: 100%;
        height: 40rem;
    }   
    .main__container {
        display: flex;
        gap: 10rem;
        margin-bottom: 2rem;
        p {
            font-weight: 200;
        }
    }   
    iframe {    
        width: 100%;
        z-index: 1;
        height: 400px;
    }
}

//  FOOTER      
.footer {
    margin-top: -2rem;
    background-color:$footer-background;
    height: 18rem;
    text-align: center;
    font-weight: 300;
    .footer-navigation {
        display: flex;
        justify-content: center;    
        gap: 6rem;
        padding-top: 4rem;
        a {
            color: #0099ff;
            text-decoration: underline;
            &:hover {
                color: #ced4da;
                text-decoration: none;
            }
        }
    }
    .footer-text {
        padding-top: 7rem;
        .footer-text-hipster {
            color: #ced4da;
            margin-bottom: 1rem;
            font-weight: 700;
        }
        p { 
            color: #ced4da;
            a {
                color: #0099ff;
            }
        }
    }
}   

